.box1{
    background-color: #FF4500 !important;
    height: 120px;
}

.box2{
    background-color: #ff2f00 !important;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
   color: white;
} 