.caixa{
    background-color: #FF8C00;
}

.titulo{
   color: white !important;
   font-weight: bold !important;
}

.botao{
    border-color: white !important;
    background-color: #FF8C00;
    color: white !important;
}

.postagens{
    background-color: white;
}